JWT_SECRET=

# nome del container (postgres), altrimenti localhost
DB_HOST=localhost
# DB_HOST=postgres

DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=local_feature_flag
DB_SSLMODE=
DB_CHANNEL_BINDING=

CORS_ALLOWED_ORIGIN=http://localhost:4200,http://example.com

PORT=3002